<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	{% load static %}{% get_static_prefix as STATIC_URL %}
	<head>
    	<title>{% block title %}{% endblock %}</title>
    	<link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    	{% block header %}
    	{% endblock %}
	</head>
	<body>
    <div id="wrap">	
    	<div id="menubar">
	    	<ul>
    			<li><a href='{% url views.home %}'>Home</a></li>
				<li><a href='{% url views.resume %}'>Resume</a></li>
				<li><a href='{% url views.projects_past %}'>Projects</a></li>
				<li><a href='{% url views.photography %}'>Photography</a></li>
				<li><a href="http://sanchitbareja.blogspot.com">Blog</a></li>
			</ul>
		</div>
    	{% block content %}{% endblock %}
    	{% block footer %}
    	
    	<div id="socialfooter">
    			<a href="https://www.facebook.com/sanchit"><img class="logo" src="{{ STATIC_URL }}img/facebook-logo.png" /></a>
    			<a href="https://twitter.com/#!/sanchitbar"><img class="logo" src="{{ STATIC_URL }}img/twitter-logo.jpg" /></a>
    			<a href="http://www.linkedin.com/pub/sanchit-bareja/b/823/997"><img class="logo" src="{{ STATIC_URL }}img/linkedin-logo.png" /></a>
    			<a href="http://www.quora.com/Sanchit-Bareja"><img class="logo" src="{{ STATIC_URL }}img/quora-icon.png" /></a>
    	</div>
    	{% endblock %}
    </div>
	</body>
</html>